@import "../../../Scss/abstract/_abstracts";

.sidebar__wrapper {
  height: 100vh;
  width: 300px;
  .sidebar__content {
    .sidebar__title {
      text-align: center;
      font-size: 22px;
      align-items: center;
      justify-content: center;
      display: flex;
      border-bottom: 1px solid $tertiary-color;
      padding: $md-spacing;
      gap: 12px;
      img {
        height: 40px;
        width: 40px;
        object-fit: contain;
        padding-top: 6px;
      }
      h3 {
        font-size: $md-font;
        font-weight: bold;
      }
    }
    .sidebar__list {
      padding: 32px;
      height: 78.6vh;
      line-height: 3.2;
      margin: 32px 32px 32px;
      border-radius: 16px;
      background: linear-gradient(to bottom, #f5be02, #00cbd9, #ea340d) !important;
      .sidebar__list__content {
        margin: $md-spacing $md-spacing;
        display: FLEX;
        .active {
          color: $black-color !important;
          font-weight: bold;
          letter-spacing: 2px;
          text-decoration: underline;
          // span {
          //   color: $white-color !important;
          // }
        }
        p {
          font-size: 20px;
          a {
            color: $white-color !important;
            padding-top: 12px !important;
          }

          &:hover {
            color: #1976d2;
            font-weight: bold;
          }
          &:hover span {
            color: #1976d2;
          }
        }
        span {
          color: $white-color;
          margin-right: $md-spacing;
          margin-top:4px ;
        }
      }
    }
  }
}
