@import "../abstract/_abstracts";

.about__wrapper {
  display: flex;
  margin: $lg-spacing $xs-spacing;
  text-transform: capitalize;
  // flex-direction: column;
  @include md {
    flex-direction: column;
  }
  @include sm {
    flex-direction: column;
  }
  .about__left__section {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    img {
      height: 200px;
      width: 100%;
      object-fit: contain;
    }
  }
  .about__right__section {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    border-radius: 16px;
    align-items: center;
    color: $white-color;
    padding: 32px;
    background: linear-gradient(to right, #f5be02, #00cbd9,#ea340d);
    p {
      text-align: justify;
      font-size: 18px;
      @include sm {
        text-align: center;
      }
    }
  }
}
