@import "../abstract/_abstracts";
.footer__container {
  background: linear-gradient(to LEFT, #f5be02, #00cbd9);
  color: $white-color;
  // padding: 64px;
  .footer {
    text-align: center;
  }
  .footer__date {
    padding: 32px 0px;
    border-bottom: 8px solid $white-color;
    p {
      font-size: 32px;
    }
  }
  .footer__content {
    padding: 32px 0px;
    .footer__topic {
      font-size: 26PX;
      .footer__right {
        margin-LEFT: 8PX;
      }
      .footer__left {
        margin-right: 8PX;
      }
    }
  }
}
