@import "../abstract/variables";
.master__banner__wrapper {
  margin: $lg-spacing $xs-spacing;
  .master__banner__left__section {
    margin-bottom: $lg-spacing;
  }
  .master__banner__right__section {
    margin-bottom: $lg-spacing;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
