@import "../abstract/_abstracts";
.live__wrapper {
  display: flex;
  margin: $lg-spacing 0px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  .live__content {
    flex: 1;
    text-align: center;
    border-radius: $md-spacing;
    p{
        font-size:$md-font;
        text-decoration: wavy;
        margin-bottom: $md-spacing;
    }
    .live__video__wrapper {
      height: 350px;
      margin-bottom: $lg-spacing;
      
    }
  }
}
