@import "../abstract/_abstracts";
.register__wrapper{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    .register__left__section{
        flex: 1;
        img{
            height: 40vh;
            width: 100%;
            object-fit: contain;
        }
    }
    .register__right__section{
        flex: 1;
        text-align: center;
        h3{
            color: $primary-color;
            margin-bottom:$sm-spacing ;
        }
        .register__form__section{
            background-color: $secondary-color;
            margin: 0px $lg-spacing;
            padding: $lg-spacing;
            align-items: start;
            border-radius: $sm-spacing;
            .register__input__bar{
                label{
                    margin-bottom: $sm-spacing;
                }
                input{
                    margin-bottom: $lg-spacing;
                    width: 80%;
                    &:focus{
                        outline: none;
                    }
                }
            }
            .register__btn{
                button{
                    width: 80%;
                }
            }
        }
    }
}
.admin__login {
    margin-top: $md-spacing;
    p {
      color: $admin-color;
      font-weight: bold;
      text-decoration: underline;
      display: inline;
      transition:0.3s ease-in-out;

      &:hover {
        background-color: $admin-color;
        color: $white-color;
        padding: 10px 10px;
        border-radius: 8px;
        text-decoration: $none;
      }
    }
  }