@import "../abstract/_abstracts";
.watch__live__wrapper {
  display: flex;
  //   margin: $lg-spacing 0px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  .watch__live__content {
    flex: 1;
    text-align: center;
    border-radius: $md-spacing;
    margin-bottom: $md-spacing;
    margin-right: 40px;
    p {
      font-size: $md-font;
      text-decoration: wavy;
      margin-bottom: $md-spacing;
    }
    .watch__live__video__wrapper {
      height: 80vh;
      margin-bottom: $sm-spacing;
    }
  }
}
.comment__content {
  height: 50vh;
  overflow-y: scroll;
  background-color: $white-color;
  border: $md-spacing solid $primary-color;
  ul {
    padding: 4px 16px;
    li {
      list-style-type: none;
      // background-color: $admin-color;
      margin: 4px;
      // display: initial;
      span {
        background-color: $primary-color;
        color: $white-color;
        padding: 2px 4px;
        border-radius: 50%;
        font-size: 12px;
        margin-right: $md-spacing;
      }
    }
  }
}
.comment__section {
  height: 72vh;
  margin: 20px 0px 0px;
  border-radius: $md-spacing;
  background-color: $primary-color;
  .top__chat {
    text-align: center;
    padding: 8px 0px;
    p{
      font-weight: bold;
      color: $white-color;
      font-size: 15px;
    }
  }
  hr {
    margin: 0;
  }
  .comment__input__section {
    width: 100%;
    display: flex;
    gap: 8px;
    padding: 8px 12px 0px;
    margin-top: $md-spacing;
    .comment__icon__name{
      text-align: center;
      display: flex;

      align-items: center;
      justify-content: center;
      margin-left: $md-spacing;
      margin-right: $md-spacing;
    }
    span {
      background-color: $white-color;
      color: $primary-color;
      padding: 4px 8px;
      border-radius: 50%;
      margin-right: 8px !important;
    }
    p {
      padding-top: 4px;
      color: $white-color;
      font-weight: bold;
    }
    .input__bar {
      margin-top: $sm-spacing;
      width: 100%;
      width: 100%;
      border: none;
      padding: 4px $md-spacing !important;
      &:focus {
        outline: none;
      }
    }
  }
}
.comment__btn {
  text-align: center;
  margin-top: $md-spacing;
  color: $black-color !important;
  button {
    border-radius: $sm-spacing;
    border: none;
    color: $black-color;
    font-weight: bold;
    background-color: $white-color;
    padding: 2px $md-spacing;
  }
}
