$primary-color: #05386b;
$secondary-color: #f5f6fa;
$tertiary-color: #f5f5f5;
$admin-color: #1976d2;
$white-color: #fff;
$black-color: #000;
$spacing-none: 0px;
$none: none;
$xs-spacing: 2px;
$sm-spacing: 4px;
$s-spacing: 8px;
$md-spacing: 16px;
$lg-spacing: 32px;
$bold: bold;
$sm-font: 14px;
$md-font: 22px;
$lg-font: 32px;
