
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant&display=swap');
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  font-family:  'Ysabeau Infant', sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
a {
  color: #000;
  text-decoration: none;
}
button {
  margin: 0;
  padding: 0;
}
.row>* {
  padding: 0px !important;
}